:root {
  --color-light-gray: #cccccc;
  --color-dark-gray: #666666;
  --color-black: #333333;
  --color-orange: #b06110;
  --color-purple: #78496a;
  --color-green: #687819;
  --color-brown: #543019;
  --color-white: #ffffff;
  --color-highlight: moccasin;
}

* {
  box-sizing: border-box;
  font-size: inherit;
}

:focus {
  outline: calc(3rem/16) solid var(--color-orange);
  outline-offset: calc(2rem/16);
}

:target {
  animation: highlight 8s ease-out;
}

@keyframes highlight {
  0%, 50% {
    background-color: var(--color-highlight);
  }
  100% {
    background-color: none;
  }
}

body {
  color: var(--color-black);
  font-size: 100%;
  font-family: system-ui, sans-serif;
  padding: 0;
  margin: 0;
}

/* Hide all provided content */
body > table,
body > hr,
body > br {
  display: none;
}

header {
  background-color: var(--color-purple);
  border-bottom: calc(1rem/16) solid var(--color-black);
  padding: 1rem;
  text-align: center;
}

main {
  font-size: calc(18rem/16);
  line-height: calc(28rem/16);
  margin: 0 auto;
  max-width: 45rem;
  padding: 4rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2.5rem 0 0;
  position: relative;
}

h2 > .icon {
  left: -2ch;
  position: absolute;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 2rem 0 0;
}

hr {
  border-color: var(--color-light-gray);
  border-style: solid;
  border-width: 0 0 calc(2rem/16);
  margin: 4rem 0;
}

form {
  margin: 2rem 0 0;
}

p,
ol,
ul {
  margin: 1rem 0 0;
  padding: 0;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

dl > div {
  margin: 1rem 2rem 0 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

a {
  color: var(--color-orange);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

small {
  color: var(--color-dark-gray);
  display: block;
  font-weight: normal;
}

input {
  border: calc(1rem/16) solid var(--color-black);
  margin-top: 0.5rem;
  max-width: 12rem;
  padding: 0.5rem;
  width: 100%;
}

button,
.button {
  background-color: var(--color-orange);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-white);
  display: inline-block;
  font-weight: bold;
  margin: 1rem 0 0;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.logo {
  align-items: center;
  display: inline-flex;
  padding: 0.5rem;
  text-decoration: none;
}

.logo span {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 2rem;
}

.row {
  align-items: center;
  display: flex;
}

.row > * {
  margin-top: 1rem;
}

.row > * + * {
  margin-left: 1rem;
}

.highlight {
  background-color: var(--color-highlight);
  padding: 0 0.5ch;
}

.alert {
  background-color: var(--color-highlight);
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0 0 2rem;
  padding: 1rem;
}

.book-list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr 8rem;
}

.book-cover > img {
  margin-top: 2rem;
  width: 100%;
}
